:root {
    --primary:#ddd;
    --dark:#333;
    --light:#fff;
    --shadow:0 1px 5px rgba(104,104,104,0.8);
}

html{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    color:var(--dark);
}

body{
    background: #ccc;
    margin: 30px 50px;
    line-height: 1.4;
}

.btn{
    background: var(--dark);
    color: var(--light);
    padding: 0.6rem 1.3rem;
    text-decoration: none;
    border:0;
}

img{
    max-width: 100%;
}

.wrapper{
    display: grid;
    grid-gap: 20px;
}

.main-nav ul{
    display: grid;
    grid-gap: 20px;
    padding: 0;
    list-style: none;
    grid-template-columns: repeat(4,1fr);
}

.main-nav a{
    text-decoration: none;
    background: var(--primary);
    padding: 0.8rem;
    display: block;
    text-align: center;
    color: var(--dark);
    text-transform: uppercase;
    box-shadow: var(--shadow);
}

.main-nav a:hover{
    background: var(--dark);
    color: var(--light)

}

.top-container{
    display: grid;
    grid-gap: 20px;
    grid-template-areas:
    'showcase showcase top-box-a'
    'showcase showcase top-box-b' 
}

.showcase{
    grid-area: showcase;
    min-height: 400px;
    background: url(https://images.pexels.com/photos/34140/pexels-photo.jpg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
    background-size: cover; 
    background-position: ceter;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    box-shadow: var(--shadow);
}

.showcase h1{
    font-size: 4rem;
    margin-bottom: 0px;
    color: var(--light);
}

.showcase p{
    font-size: 1.3rem;
    margin-top: 0;
    color: var(--light);
}
.top-box{
    background: var(--primary);
    display: grid;
    align-items: center;
    justify-items: center;
    box-shadow: var(--shadow);
    padding: 1.5rem;
}

.price{
    font-size: 2.5rem;
}

.top-box-a{
    grid-area: top-box-a;
}

.top-box-b{
    grid-area: top-box-b;
}

.boxes{
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
}

.box{
    background: var(--primary);
    text-align: center;
    padding: 1.5rem 2rem;
    box-shadow: var(--shadow);
}

.info{
    box-shadow: var(--shadow);
    background: var(--primary);
    display: grid;
    grid-gap: 30px;
    grid-template-columns: repeat(2,1fr);
    padding: 3rem;
}

.portfolio{
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(200px,1fr));
}

.portfolio img{
    width: 100%;
    box-shadow: var(--shadow);
}

.footer{
    margin-top: 2rem;
    background: var(--dark);
    color:var(--light);
    text-align: center;
    padding: 1rem;
}

@media(max-width:700px){
    .top-container{
        grid-template-areas:
        'showcase showcase'
        'top-box-a top-box-b';
    }
}